body {
  background-color: #ecf0f1;
}

.button {
  border: none;
  outline: none;
}

.tag {
  background: #F4F4F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 14px;
}

.comm-name-row {
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
}

.comm-name {
  color: #5a87b2;
  font-weight: bold;
  font-size: 16px;
}

.logo {
  height: 200px;
  width: auto;
  text-align:center;
}

.logo-row {
  text-align: center;
}

/* .color-block {
  color: rgb(19, 17, 17);
  border-radius: 2px 2px 0 0;
  padding: 10px 20px 20px 10px;
  height: 60px;
  width: 180px;
  margin-top: 75px;
  position: relative;
  margin:  10px; */
/* } */

/* cards colors */
.color-block {
  background: #FFFFFF;
  z-index: 30;
  border-radius: 30px;
  width: 180px;
  padding: 10px 20px 20px 20px;
  margin: 10px;
}

.card-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content:stretch;
}

/* .card-group > :nth-child(n){
  margin-left: 20px;
} */

/* .card-group > :nth-child(n+2){
  margin-top: 20px;
} */
